.contenedorDetail {
    background-color: rgba(123, 6, 136, 0.6);
    justify-content:center;
    margin: auto;
    position: absolute;
    top: 15%; 
    left: 36%;
    margin-top: 5%;
    width: 25%;
    height:auto;
    border-radius:5%;
    font-family: sans-serif;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 6px 4px 7px rgba(0,0,0,0.6);
    font-size: medium;
    text-align: center;
}